# navigation
alias cd..='cd ..'
alias ..='cd ..'
alias …='cd ../../../'
alias ….='cd ../../../../'
alias …..='cd ../../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'

alias toR='cd ~/Repositories/'

# shell
alias md='mkdir'
alias sl='ls'
alias ll='ls -la'
alias lc='colorls -a -1 --gs --sd'
alias mount='mount |column -t'
alias IOWNTHIS='sudo chown -R $USER *'

# apt
alias Install='sudo apt-get install'
alias Update='sudo apt-get update'
alias Upgrade='sudo apt-get upgrade'
alias Autoremove='sudo apt-get autoremove'
alias Autoclean='sudo apt-get autoclean'
alias Purge='sudo apt-get remove -purge'

# docker-compose
alias dc='docker-compose'
alias dcr='docker-compose run --rm'
alias dcrs='docker-compose run --rm --service-ports'
alias dcrb='docker-compose run --rm web bash'
alias dcrbc='docker-compose run --rm web bash -c'
alias dcrrails='docker-compose run --rm web bash -c "rails c"'

# git
alias gs='git status '
alias gc='git commit -m'
alias gcv='git commit -v'
alias gpt='git push && git push --tags'
alias gfrs='git flow release start'
alias gfrf='git flow release finish'
alias ga='git add'
alias gco='git checkout'
alias grup='git remote update'

# yandex cloud
alias yc-run-remote-dev='yc compute instance start --name remote-dev-server'
alias yc-remote-ip='yc compute instance list | grep remote-dev-server | awk "{print \$10}"'
alias yc-ssh-user='ssh rti@$(yc-remote-ip)'
alias yc-ssh-admin='ssh yc-user@$(yc-remote-ip)'
alias yc-stop-remote-dev='yc compute instance stop --name remote-dev-server'
