[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
