MYSQL_ROOT_PASSWORD=op://vault-id/my-sql-root-item/password

MYSQL_USER=op://vault-id/my-sql-item/username
MYSQL_PASSWORD=op://vault-id/my-sql-item/password

POSTGRES_USER=op://vault-id/postgres-item/username
POSTGRES_PASSWORD=op://vault-id/postgres-item/password

MONGO_ROOT_USER=op://vault-id/mongo-item/username
MONGO_ROOT_PASSWORD=op://vault-id/mongo-item/password
