# navigation
alias cd..='cd ..'
alias ..='cd ..'
alias ....='cd ../../'
alias ~~='cd ~/'

# shell
alias md='mkdir'
alias sl='ls'
alias ll='lsd -la || ls -la'
alias batp='bat --style=plain --paging=never'
alias batn='bat --paging=never'
alias zshr='source ~/.zshrc'
function sshmux() {
  ssh "$1" -t -- /bin/zsh -c 'tmux new -As ${PWD##*/}'
}
# tmux
alias tmuxn='tmux new -As ${PWD##*/}'

# docker-compose
alias d='docker'
alias dc='d compose'
alias dcr='dc run --rm --use-aliases'
alias dcrs='dcr --service-ports --use-aliases'

# git
alias g='git'
alias gs='g status '
alias gcv='g commit -v'
alias gca='g commit --ammend'
alias gcane='g commit --amend --no-edit'
alias guc='g reset HEAD~'
alias gpt='g push && git push --tags'
alias gfrs='g flow release start'
alias gfrf='g flow release finish'
alias ga='g add'
alias gco='g checkout'
alias grup='g remote update'
alias glol='g log --graph --pretty='\''%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'\'

# terraform
alias t='terraform'
alias ti='t init'
alias tp='t plan'
alias ta='t apply'

# complex aliases
alias tldrf='tldr --list | fzf --preview "tldr {1} --color=always" --preview-window=right,70% | xargs tldr'
alias gcof='git branch --sort=-committerdate | fzf --header "Checkout Recent Branch" --preview "git diff --color=always {1}"  | xargs git checkout'
alias gcofd='git branch --sort=-committerdate | fzf --header "Checkout Recent Branch" --preview "git diff --color=always {1} | delta" --pointer="" | xargs git checkout'

# Kubernetes
alias kubefp='export KUBE_NAMESPACE=$(kubefn) && kubectl get pods --field-selector=status.phase=Running -n ${KUBE_NAMESPACE:-default} | fzf | awk '\''{print $1}'\'''
alias kubelogs='kubefp | xargs kubectl logs'
alias kubebash='kubeexec /bin/bash'
alias kubefn='kubectl get namespace | fzf | awk '\''{print $1}'\'''
alias kubeexec='kubefp | xargs -o -I@ kubectl exec -ti @ -c netology-rails -n ${KUBE_NAMESPACE:-default} -- '

# yandex cloud
alias ycls='yc compute instance list --format json | jq --raw-output '\''.[] | "\(.name) \(.status)"'\'''
alias ycfn='ycls | fzf | awk '\''{print $1}'\'''
alias ycup=' ycfn | xargs yc compute instance start --name'
alias ycstop=' ycfn | xargs yc compute instance stop --name'

#brew
alias rebrew='brew bundle --file ${DOTFILES_PATH}/Brewfile'
