# navigation
alias cd..='cd ..'
alias ..='cd ..'
alias ....='cd ../../'
alias ~~='cd ~/'

# shell
alias md='mkdir'
alias sl='ls'
alias ll='ls -la'
alias cat='bat --style=plain --paging=never'
alias catr='bat --paging=never'

# tmux
alias tmuxn='tmux new -As ${PWD##*/}'

# docker-compose
alias dc='docker-compose'
alias dcr='docker-compose run --rm'
alias dcrs='docker-compose run --rm --service-ports'
alias dcrb='docker-compose run --rm web bash'
alias dcrbc='docker-compose run --rm web bash -c'

# git
alias gs='git status '
alias gcv='git commit -v'
alias gca='git commit --ammend'
alias gcane='git commit --amend --no-edit'
alias guc='git reset HEAD~'
alias gpt='git push && git push --tags'
alias gfrs='git flow release start'
alias gfrf='git flow release finish'
alias ga='git add'
alias gco='git checkout'
alias grup='git remote update'
alias glol='git log --graph --pretty='\''%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'\'

# terraform
alias t='terraform'
alias ti='t init'
alias tp='t plan'
alias ta='t apply'

# complex aliases
alias tldrf='tldr --list | fzf --preview "tldr {1} --color=always" --preview-window=right,70% | xargs tldr'
alias gcof='git branch --sort=-committerdate | fzf --header "Checkout Recent Branch" --preview "git diff {1} --color=always | delta " --pointer="" | xargs git checkout'
alias kubefp='kubectl get pods | fzf | awk '\''{print $1}'\'''
alias kubelogs='kubefp | xargs kubectl logs'
alias kubebash='kubefp | xargs -I@ kubectl exec --stdin --tty @ -- /bin/bash'
